.card {
  border: 1px solid;
  width: 500px;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  background-color: antiquewhite;
}

.btn {
  margin: 20px 100px 20px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: burlywood;
  font-size: 15px;
}

.div {

  background-color: #abdbe9; 
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
}
.profile{
  background-color: rgb(209, 184, 212);
  padding: 10px;
  margin: 10px;
}
